html body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    background-color: #1D242B;
}

.nav-bar{
    margin: 0;
    height: 15vh;
    width: 99.8vw;

    background-color: #1D242B;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: row;

    align-items: center;
}

.logo-title{
    margin-top: 1vh;
    width: 40vw;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-title img{
    margin-left: 1vw;
    max-height: 60%;
    width: auto;
    object-fit: contain;
}

.logo-title h1{
    margin-left: 1vw;
    color: #C7EEFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(2vw + 2vh);
}

.links{
    margin-top: 1vh;
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(2vw + 2vh);
}

.links a:hover{
    text-shadow: 0 0 10px hsl(198, 100%, 95%), 
                 0 0 20px hsl(198, 100%, 85%);
}

.links a{
    color: #C7EEFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(1vw + 1vh);

    transition: text-shadow 0.4s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

.links #accounts{
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
}

.logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logout-button{
    height: auto;
    width: 7vw;

    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(.5vw + .5vh);
    font-weight: bolder;
    color: #C7EEFF;
    background-color: #58111A;
    border-radius: calc(2vh + 2vw);
    border: none;

    padding: calc(.5vh + .5vw);
    cursor: pointer;

    transition: box-shadow 0.4s ease-in-out;
}

.logout-button:hover{
    box-shadow: 0 0 20px 10px hsl(352, 68%, 31%);
}

.mainContainer{
    height: 85vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.infoContainer{
    height: 90%;
    width: 95%;

    background-color: white;
    border-radius: 2rem;
}

.titleContainer{
    height: auto;
    width: auto;
    padding: 2%;
    padding-bottom: 0;
    padding-top: 1%;
}

.titleContainer h1{
    font-size: calc(2vw + 2vh);
    font-family: Arial, Helvetica, sans-serif;
    color: #323D49;
}

.tableHolder{
    height: auto;
    width: 100%;

    max-height: 75%;    
    overflow: auto;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    background-color: #323D49;
    color: white;
    font-weight: bold;
    height: calc(2vw +  2vh);
    font-size: calc(1vw + 1vh);
    border-radius: 2rem;
}

.noright{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.noall{
    border-radius: 0;
}

.noleft{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
td {
    background-color: none;
    font-size: calc(.8vw + .8vh);
    padding: 2%;
}

.banUser{
    width: calc(5vw + 5vh);
    height: auto;
    font-size: calc(.8vw + .8vh);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
}

.banUser{
    background-color: #ED0800;
}
