html body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    background-color: #1D242B;
}

.nav-bar{
    margin: 0;
    height: 15vh;
    width: 99.8vw;

    background-color: #1D242B;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: row;

    align-items: center;
}

.logo-title{
    margin-top: 1vh;
    width: 40vw;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-title img{
    margin-left: 1vw;
    max-height: 60%;
    width: auto;
    object-fit: contain;
}

.logo-title h1{
    margin-left: 1vw;
    color: #C7EEFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(2vw + 2vh);
}

.links{
    margin-top: 1vh;
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(2vw + 2vh);
}

.links a:hover{
    text-shadow: 0 0 10px hsl(198, 100%, 95%), 
                 0 0 20px hsl(198, 100%, 85%);
}

.links a{
    color: #C7EEFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(1vw + 1vh);

    transition: text-shadow 0.4s ease-in-out;
}

.links #services{
    text-decoration: none;
    cursor: pointer;
}

.links #add_tab{
    text-decoration: underline;
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
}

.links #reservation{
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}

.links #home{
    text-decoration: none;
    cursor: pointer;
}

.logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logout-button{
    height: auto;
    width: 7vw;

    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(.5vw + .5vh);
    font-weight: bolder;
    color: #C7EEFF;
    background-color: #58111A;
    border-radius: calc(2vh + 2vw);
    border: none;

    padding: calc(.5vh + .5vw);
    cursor: pointer;

    transition: box-shadow 0.4s ease-in-out;
}

.logout-button:hover{
    box-shadow: 0 0 20px 10px hsl(352, 68%, 31%);
}

.mainContainer{
    height: 80vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
}

.formContainer{
    height: 100%;
    width: 45%;
    min-height: 100%;
    min-width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    height: 90%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.firstLayer, .secondLayer, .thirdLayer{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.firstLayer div, .secondLayer div, .thirdLayer div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.firstLayer label, .secondLayer label, .thirdLayer label{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: calc(2vw + 2vh);
}

.firstLayer input, .secondLayer input, .thirdLayer input{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: calc(1.5vw + 1.5vh);
    width: calc(12vw + 12vh);
    border-radius: 1rem;
    border: none;
}

select{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: calc(1.4vw + 1.4vh);
    padding: .2rem;
    width: calc(12vw + 12vh);
    border-radius: 1rem;
    border: none;
}

.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 3rem;
}

.buttonContainer button{
    font-size: calc(1.4vw + 1.4vh);
    padding: .2rem;
    width: calc(12vw + 12vh);
    border: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
}

.clear{
    background-color: #ED0800;
}

.confirm{
    background-color: #33b249;
}

.maastigNaDesign{
    height: 100%;
    width: 60;
    margin-left: -4rem;

    display: flex;
    flex-direction: column;
}

.textToPre{
    height: 20%;
    width: 100%;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(1.4vw + 1.4vh) ;

    display: flex;
    align-items: center;
    justify-content: center;
}

.imageToBai{
    min-width: 100%;
    min-height: 80%;
    max-width: 100%;
    max-height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.imageToBai img{
    max-width: 70%;
}