html body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;

    background-color: #1D242B;
}

.nav-bar{
    margin: 0;
    height: 15vh;
    width: 99.8vw;

    background-color: #1D242B;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: row;

    align-items: center;
}

.logo-title{
    margin-top: 1vh;
    width: 40vw;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-title img{
    margin-left: 1vw;
    max-height: 60%;
    width: auto;
    object-fit: contain;
}

.logo-title h1{
    margin-left: 1vw;
    color: #C7EEFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(2vw + 2vh);
}

.links{
    margin-top: 1vh;
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(2vw + 2vh);

    
}

.links a:hover{
    text-shadow: 0 0 10px hsl(198, 100%, 95%), 
                 0 0 20px hsl(198, 100%, 85%);
}

.links a{
    color: #C7EEFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(1vw + 1vh);

    transition: text-shadow 0.4s ease-in-out;
}

.links #services{
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
}

.links #reservation{
    text-decoration: none;
    cursor: pointer;
}

.links #home{
    text-decoration: none;
    cursor: pointer;
}

.logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logout-button{
    height: auto;
    width: 7vw;

    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(.5vw + .5vh);
    font-weight: bolder;
    color: #C7EEFF;
    background-color: #58111A;
    border-radius: calc(2vh + 2vw);
    border: none;

    padding: calc(.5vh + .5vw);
    cursor: pointer;

    transition: box-shadow 0.4s ease-in-out;
}

.logout-button:hover{
    box-shadow: 0 0 20px 10px hsl(352, 68%, 31%);
}

.main-container{
    height: auto;
    width: 99.8vw;

}

.first-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1% 0;
    
    gap: calc(2vw + 2vh);
}

.service-container{
    height: 80vh;
    width: 25vw;
    background-color: #34404C;
    border-radius: calc(1vw + 1vh);

    display: flex;
    flex-direction: column;

    overflow: hidden;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.4s ease-in-out;
}

.service-container:hover{
    box-shadow: 0 0 20px 10px #00ffc8b3;
}

.image-container{
    height: 60%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.image-container img{
    max-width: 90%;
    height: auto;
}

#overflow-image{
    overflow: hidden;
}

#overflow-image img{

    margin-top: 7vh;
}

.text-container{
    height: 35%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: calc(1.5vw + 1.5vh);
    color: white;

}

.text-container p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: calc(.7vw + .7vh);
    text-align: center;
    color: white;

    width: 80%;
    margin-top: 0;
}

.text-container #price{
    color: #C7EEFF;
}

.second-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1% 0;
    
    gap: calc(2vw + 2vh);
}